{% if content_block.linked_news is not empty %}
    <div class="row grid-x grid-padding-x block-content block-linked-news">

        {% if content_block.title %}
            <div class="cell large-10 medium-12 small-12 large-offset-1">
                <h2 class="text-center block-title">{{content_block.title}}</h2>
            </div>
        {% endif %}

        {% for news_item in content_block.linked_news %}
            {% include 'components/news-item.twig' with {'item' : news_item} %}
        {% endfor %}

        {% if content_block.all_news_link is not empty %}
            <div class="cell small-12 text-center">
                <a href="{{fn('get_term_link', 1, 'category')}}" class="all-news-link">{{content_block.all_news_link_label}}</a>
            </div>
        {% endif %}

    </div>
{% endif %}
