<div class="row block-content block-simple-text grid-x grid-padding-x">
    <div class="cell small-12 {% if content_block.full is empty %}large-8 medium-10 large-offset-2 medium-offset-1{% endif %}">
        {% if content_block.title %}
            <h2 class="text-center block-title">{{content_block.title}}</h2>
        {% endif %}
        
        {{content_block.content}}
    </div>
</div>
