{% extends "base.twig" %}

{% block content %}

    <div class="row grid-x grid-padding-x">
        <div class="small-12 cell">
            <h1 class="main-title">{{post.post_title}}</h1>
        </div>
    </div>

    <div class="page-content">
        {% if content_blocks is not empty %}
            {% for key, content_block in content_blocks %}
                {% include 'content-blocks/' ~ content_block.acf_fc_layout ~ '.twig' %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
